/* --- Body & Background --- */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f3e46;
    overflow: hidden;
    background: #ffffff; /* background kosong */
}

/* --- Menu --- */
#menuScreen, #gameScreen, #endScreen {
    text-align: center;
}

/* --- Gambar Hewan --- */
.animal {
    width: 500px;  /* diperbesar */
    height: 500px; /* diperbesar */
    object-fit: cover;
    filter: blur(8px); /* semua gambar blur */
    transition: filter 0.3s;
}

/* Jika ingin reveal (misal pakai diamond) */
.animal.revealed {
    filter: blur(0px);
}


/* Stats & Input */
.stats {
    margin: 10px 0;
    font-size: 18px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Clue box */
.clue {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}
